.content{
    padding: 30px 450px;

    .table{
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1{
            font-weight: 700;
        }
        button{
            padding: 15px 40px;
            border: none;
            outline: none;
            background: purple;
            font-size: 20px;
            color:#fff;
            cursor: pointer;
            transition: all 5s eas;
            &:hover{
                background: #fff;
                color:purple;
                border: solid 1px purple;
            }
        }
    }
    ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            li{
                font-size: 18px;
                margin-top: 15px;
            }
    }
}